; vim: set fileencoding=utf-8 :
; Wed 17 Aug 16:34:38 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.xm2vts
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true